@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Sawarabi+Mincho&family=Zen+Antique&display=swap');


body {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-image: url("Lina.JPG");
}

header img {
  display: block;
  margin: 0 auto;
  width: 20vw;
}

main {
  padding: 20px;
}

footer {
  background-color: #007F5F;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: 'Kaisei Decol', serif;
}

.section-wrapper {
  background-color: #ffffff;
  border-radius: 2vw;
  padding: 3vw;
  margin-bottom: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title-line {
  width: 0.5vw;
  height: 20px;
  background-color: #00bcd4;
  margin-right: 10px;
}

.section-title h2 {
  font-size: 24px;
  font-weight: bold;
}

.congestion-status {
  text-align: center;
}

.congestion-status img {
  text-align: center;
  width: 30%;
  height: 60%;
}


.news-list {
  list-style-type: none;
  padding: 0;
}

.news-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.news-date {
  font-size: 16px;
  color: #00bcd4;
  margin-bottom: 5px;
}

.news-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.news-content {
  font-size: 14px;
}

.photo-grid {
  text-align: center;
}

.photo-frame {
  display: inline-block;
  width: 60vw;
  padding: 1em;
  border: solid 2px #223377;
  border-radius: 0.4em;
  text-align: center;
}


.photo-frame img {
  max-width: 10vw;
  max-height: 10vh;
  width: auto;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}


.video-container {
  position: relative;
  padding-bottom: 39.375%;
  height: 0;
  overflow: hidden;
  text-align: center;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
}

.map-contents {
  text-align: center;
}


h1 {
  font-size: 2rem;
  font-family: 'Sawarabi Mincho', serif;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Zen Antique', serif;
}

h3 {
  font-size: 1.25rem;
  font-family: 'Zen Antique', serif;
}

h4 {
  font-size: 0.75rem;
  font-family: 'Zen Antique', serif;
}

p {
  font-size: 1rem;
  font-family: 'Zen Antique', serif;
}

.title {
  transition: 1s;
  font-size: 20px;
  letter-spacing: normal;
}

.title:hover {
  letter-spacing: .5em;
}
